
li { 
    list-style-type: none;  
    background-color: red; 
}
a:link {
    text-decoration: none;
}

p {
    color:brown;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    padding: 0 20px 20px 20px
}
h1 { 
    font-family: Georgia, 'Times New Roman', Times, serif', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode;
    font-size: x-large;
    color: white;
    text-align: center;
}
h2 { 

    color: white;
    margin: 50px;
}
h3 { 
    
    font-size: x-large;
    color: white;
    margin: 50px;
}
h4 { 
    
    font-size: x-large;
    color: white;
    margin: 50px;
}
h5  {

    font-size: x-large;
    color: white;
    margin: 50px;
}

.foto {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }

    

